{{ define "main" }}
  <div class="responsive-hp-container">
    <section><img src="/images/IMG_4591_hp.jpg"/></section>
    <hgroup class="description">
      {{ with .Params.Description }}
        <h2>{{ . | markdownify }}</h2>
      {{ end }}
    </hgroup>
  </div>

  <section class="callout blue">
    <a href="{{ "/series/the-collection/" | relURL }}">    
      <p >Dive in and explore the full collection.</p>
    </a>
  </section>
  <div>
    <section class="callout grey">
      {{ .Content }}      
    </section>
  </div>
 
  {{ partial "featured.html" . }}

  <section class=" callout">
    <a href="{{ "/about/purchase/" | relURL }}">
    <p >If you are interested in purchasing any of these pieces or a custom piece, please contact Cindy.</p>
    </a>
  </section>
  {{/*  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section>  */}}
  <hgroup>
    <h2>Recent Exhibitions</h2>
  </hgroup>
  <section class="galleries">
    {{ with site.GetPage "taxonomyTerm" ("exhibitions") }}
      {{ range where .Pages "Params.private" "ne" true }}
        {{ partial "album-card.html" . }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}
