{{ define "main" }}
  <div class="responsive-hp-container">
    <section><img src="/images/IMG_4591_hp.jpg"/></section>
    <hgroup class="description">
      {{ with .Params.Description }}
        <h2>{{ . | markdownify }}</h2>
      {{ end }}
    </hgroup>
  </div>

  <section class="callout blue">
    <a href="{{ "/series/the-collection/" | relURL }}">    
      <p >Dive in and explore the full collection.</p>
    </a>
  </section>

  <section class="callout">
    <figure style="margin:2rem auto;text-align:center;display:flex;justify-content:center"><img src="/about/IMG_20250114_213938.jpg" style="border-radius:50%;width:250px;object-fit:cover"></figure>
    Cindy’s travels to Australia introduced her to Aboriginal Art. Through Euan Hills and the Art Mob Gallery in Hobart Tasmania, from whom she has purchased several Aboriginal works of art, she was introduced to the Lockhart River Arts group. Cindy recognized that her Aboriginal inspired fabric art pieces simply wouldn’t exist without the inspiration and creativity of the Australia’s Aboriginal Artists. Inspired by their work and that of other Aboriginal Artists, Cindy decided to dedicate her time and her creativity to supporting this community and its Aboriginal Artists.
    <a href="{{ "/about/" | relURL }}">
      <span class="button-class" >Learn more about Cindy and her work.</span>
    </a>
  </section>

  <div>
    <section class="callout grey">
      {{ .Content }}      
    </section>
  </div>
 
  {{ partial "featured.html" . }}

  <section class=" callout">
    <a href="{{ "/about/purchase/" | relURL }}">
    <p >If you are interested in purchasing any of these pieces or a custom piece, please contact Cindy.</p>
    </a>
  </section>
  {{/*  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section>  */}}
  <hgroup>
    <h2>Explore More</h2>
  </hgroup>
  <section class="galleries">
    {{ with site.GetPage "taxonomyTerm" ("series") }}
      {{ range where .Pages "Params.private" "ne" true }}
        {{ partial "album-card.html" . }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}
