{{ define "main" }}
  <hgroup>
    {{/*  <h1>{{ .Title }}</h1>  */}}
    {{ with .Params.Description }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }}
  </hgroup>
  <section class=" callout">
    <a href="/about/purchase">
    <p >If you are interested in purchasing any of these pieces or a custom piece, please contact Cindy.</p>
    </a>
  </section>
  {{ partial "featured.html" . }}
  {{/*  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section>  */}}
  
  <hgroup>
    <h2>Recent Exhibitions</h2>
  </hgroup>
  <section class="galleries">
    {{ with site.GetPage "taxonomyTerm" ("exhibitions") }}
      {{ range where .Pages "Params.private" "ne" true }}
        {{ partial "album-card.html" . }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}
