{{/*  
for example::
{{- $cta_opts := (dict 
  "button_label" $button_label
  "button_class" $button_class
  "button_type" $button_type 
  "button_relref" $button_relref
  "button_href" $button_href 
  "button_icon" $button_icon
  "page" .) }}
{{- partial "cta-button.html" $cta_opts }}
*/}}
{{ $button_label := default "Go!" .button_label }}
{{ $button_class := default "button-class" .button_class }}
{{ $button_relref := .button_relref }}
{{ $button_href := .button_href }}
{{ $button_icon := .button_icon }}


<a style="position: relative; display: block; z-index: 10;" href="{{ $button_href }}">
  <span class="{{ $button_class }}">{{ with $button_icon }}<i class="{{ . }}"></i>{{ end }}{{ with $button_label }}{{ . }} {{ end }}</span>
</a>