<footer class="{{ .Section }}">
  {{ partialCached "social-icons.html" . }}
  <section>
    {{ partial "menu-footer.html" . }}    
  </section>
  <section>
    {{ .Site.Copyright }}
  </section>
  <section>
    {{ partial "attribution.html" .}}
  </section>
  <section>
    <!-- kept b/c the css i don wanna change -->
  </section>
  {{/*  <section>
    <div class="taxonomy-row">
      {{ range $taxonomy, $terms := .Site.Taxonomies }}
        <div class="taxonomy-column">
          <div class="taxonomy-header"><a href="{{ $terms.Page.RelPermalink }}">{{ $terms.Page.Title | title }}</a></div>
          <div class="taxonomy-terms">
            {{ range $term, $pages := $terms }}
              <div class="term">
                <a href="{{ $pages.Page.RelPermalink }}">{{ $pages.Page.Title }}</a> ({{ len $pages }})
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>  */}}
</footer>
