  {{ $section := .Section }}
  <menu class="{{ $section }}" id="menu">
    <button class="hamburger" style="display:none;" aria-label="Toggle menu" onclick="toggleMenu()">☰</button>
    <nav class="main">
      [{{ .Site.BaseURL }}]  
      [{{ "/" | absURL }}]

    <div><a href="{{ "/" | absURL }}">{{ (site.GetPage "home").Title }}</a></div>
    <ul>
      {{ with site.Menus.main }}
        {{ range $index, $item := . }}
          <li 
            class="right {{ $item.Page.Section }}" 
            itemscope 
            itemtype="http://www.schema.org/SiteNavigationElement"
          >
          {{ $supCuz := false }}
          {{ if gt $index 0 }}
            {{ range page.Ancestors }}
              {{ if eq .Title $item.Name }}
                {{ $supCuz = true }}
              {{ end }}
            {{ end }}
          {{ end }}
            <a aria-current="{{ or (page.IsMenuCurrent $item.Menu $item) (page.HasMenuCurrent $item.Menu $item) $supCuz }}" href="{{ $item.URL }}" itemprop="url">
              <span itemprop="name">{{ $item.Name }}</span>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    </nav>
    {{ if eq .Section "about" }}
      <nav class="categories">
        <ul>
        {{ $path := printf "%s/" .Path }}
        {{ range site.Menus.meta }}
          <li>
            <a aria-current="{{ eq $path .URL }}" href="{{ .URL }}" itemprop="url">
              <span itemprop="name">{{ .Name }}</span>
            </a>
          </li>
        {{ end }}
        </ul>
      </nav>
    {{ else }}
      {{ partial "categories.html" (dict "taxonomy" .Data.Plural "page" . ) }}
    {{ end }}
  </menu>