  {{ $section := .Section }}
  <menu class="{{ $section }}" id="menu">
    <nav class="main">

    <ul>
      {{ with site.Menus.main }}
        {{ range $index, $item := . }}
          <li 
            class="{{ if eq $index 0 }}left{{ else }}right{{ end }} {{ $item.Page.Section }}" 
            itemscope 
            itemtype="http://www.schema.org/SiteNavigationElement"
          >
          {{ $supCuz := false }}
          {{ if gt $index 0 }}
            {{ range page.Ancestors }}
              {{ if eq .Title $item.Name }}
                {{ $supCuz = true }}
              {{ end }}
            {{ end }}
          {{ end }}
            <a aria-current="{{ or (page.IsMenuCurrent $item.Menu $item) (page.HasMenuCurrent $item.Menu $item) $supCuz }}" href="{{ $item.URL }}" itemprop="url">
              <span itemprop="name">{{ $item.Name }}</span>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    </nav>
    {{ if eq .Section "about" }}
      <nav class="categories">
    {{/*  {{ . | debug.Dump }}  */}}
    {{/*  {{ . | jsonify (dict "indent" " ") }}  */}}
    {{/*  {{ .Params | debug.Dump }}  */}}
        <ul>
        {{ $path := printf "%s/" .Path }}
        {{/*  [{{ $path }}]:  */}}
        {{ range site.Menus.meta }}
          {{/*  :[{{ .URL }}]  */}}
          <li>
            <a aria-current="{{ eq $path .URL }}" href="{{ .URL }}" itemprop="url">
              <span itemprop="name">{{ .Name }}</span>
            </a>
          </li>
        {{ end }}
        </ul>
      </nav>
    {{ else }}
      {{ partial "categories.html" (dict "taxonomy" .Data.Plural "page" . ) }}
    {{ end }}
  </menu>